* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: linear-gradient(135deg, #020617, #0f172a);
  color: #e5e7eb;
  min-height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  color: #38bdf8;
}

.main-nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.main-nav a {
  color: #cbd5f5;
  text-decoration: none;
  font-weight: 500;
}

.main-nav a:hover {
  color: #38bdf8;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero img {
  width: 250px;
  height:250px;
  border-radius: 50%;
  margin-bottom: 25px;
  border: 4px solid #38bdf8;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #38bdf8;
}

.hero h3 {
  font-weight: 400;
  color: #94a3b8;
  margin-bottom: 15px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
  color: #cbd5f5;
}

.hero-text {
  font-size:large;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.primary {
  background: #38bdf8;
  color: #020617;
}

.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

footer {
  margin-top: 80px;
  text-align: center;
  padding: 20px;
  color: #94a3b8;
  font-size: 14px;
}

@media (max-width: 768px) {
  .main-nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 2.3rem;
  }
}
