body {
  background: #020617;
  color: white;
  font-family: 'Segoe UI', system-ui, sans-serif;
  margin: 0;
}

.section-one {
  max-width: 900px;
  margin: 120px auto 60px auto;
  padding: 40px;
  background: #111827;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  text-align: left;
}

.section-one h1 {
  color: #38bdf8;
  margin-bottom: 25px;
  font-size: 2.2rem;
}

.about-text p {
  line-height: 1.8;
  font-size: 1.1rem;
  color: #cbd5e1;
  margin-bottom: 20px;
}

.section-two {
  max-width: 1100px;
  margin: 40px auto;
  padding: 40px;
  text-align: left;
}

.section-two h2 {
  color: #38bdf8;
  margin-bottom: 40px;
  font-size: 2rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  background: #111827;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
  text-align: left;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  margin-bottom: 20px;
}

.card h3 {
  color: #38bdf8;
  margin-bottom: 15px;
}

.card p {
  color: #cbd5e1;
  line-height: 1.6;
}

.achievements {
  padding: 4rem 2rem;
  text-align: start;
  text-justify: auto;
  padding: 150px;
}

.achievements .section-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #38bdf8;
  text-align: start;
  margin-left: 2rem;
}

.achievement {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  gap: 20px;
}

.achievement img {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
}

.achievement-text h3 {
  font-size: 1.5rem;
  color: #38bdf8;
}

.achievement-text h4 {
  font-size: 1rem;
  color: #cbd5e1;
  line-height: 1.6;
}

/* Responsive: stack vertically on small screens */
@media (max-width: 768px) {
  .achievement {
    flex-direction: column;
    text-align: center;
  }

  .achievement img {
    width: 100%;
    max-width: 300px;
  }
}